<div class="head-navigation">
    <a class="left" href="#!index">
        <span style="color:#0171ec" class="fa fa-chevron-left"></span>
    </a>
    <div class="center">
        <strong>Biển báo</strong></div>
    <div class="right">
    </div>
</div>
<p></p>
<div class="controls-container">
    <div class="item-container">
        <div style="border-bottom: #e9e7e7;border-bottom-width: 1px;border-bottom-style: solid;" ng-repeat="q in list">
            <a href="#!signs?index=0&signType={{q.signType}}">
                <div style="margin: 10px; margin-left: 20px">
                    <div style="display: flex; align-items: center;">
                        <img style="width: 20px; height: 20px; margin-right: 10px;"
                    src="images/assets/topic_sign_{{$index}}.png"><b style="color: #0171ec;"> {{ q.display }}</b>
                    </div>
                    <div style="color: darkgray;">{{ q.subTitle }}</div>
                </div>
            </a>
        </div>
    </div>
</div>