<div class="head-navigation">
    <a class="left" href="#!list-law">
        <span style="color:#0171ec" class="fa fa-chevron-left"></span>
    </a>
    <div class="center">
        <strong>{{topic.display}}</strong></div>
    <div class="right">
    </div>
</div>
<div id="list-danger-page" class="page has-menu">
    <div id="list">
        <div class="item" ng-repeat="q in list" style = "border-bottom: 1px dashed #a0a0a0; margin-top: 20px;">
            <a href="#!violation?index={{q.no}}&violationGroup={{topic.code}}&violationType={{topic.code}}">
                <div>
                    <div style="display: flex;">
                        <b style="color: #0171ec;"> {{ q.violation }}</b>
                    </div>
                    <div style="color:red;">{{ q.fines }}</div>
                    <div style="color:#0171ec;">Xem chi tiết</div>
                </div>
            </a>
        </div>
    </div>
</div>
