<div class="head-navigation">
    <a class="left" href="#!index">
        <span style="color:#0171ec" class="fa fa-chevron-left"></span>
    </a>
    <div class="center">
        <strong>Luật giao thông</strong></div>
    <div class="right">
    </div>
</div>
<div id="list-danger-page" class="page has-menu">
    <div class="item" style="margin-top: 30px;margin-bottom: 30px;text-align: center">
        <input type="radio" id="bycicle" title="Xe máy" name="lawRadio" ng-model="violationType" value="1"/> <label for="bycicle">Xe máy</label>
        <input type="radio" id="car" title="Xe ô tô" name="lawRadio" ng-model="violationType" value="2" /> <label for="car">Xe ô tô</label>
        <input type="radio" id="other" title="Khác" name="lawRadio" ng-model="violationType" value="3" /> <label for="other">Khác</label>
    </div>

    <div class="controls-container">
        <div class="item-container">
            <div class="item" ng-repeat="q in list" style="margin-top: 8px;">
                <a href="#!list-violation?violationGroup={{q.code}}&violationType={{violationType}}">
                    <div style = "">
                        <div style="display: flex; align-items: center; margin-bottom: 10px;">
                            <img style="width: 38px; height: 38px; margin-right: 10px; background-color: red; border-radius: 8px;"
                                src="images/assets/topic_{{q.code}}.png"><b style="color: #0171ec;"> {{ q.display }}</b>
                        </div>
                        <div style="color: darkgray;">{{ q.subTitle }}</div>
                    </div>
                </a>
            </div>

            <div class="item" style="margin-top: 8px;">
                <a href="https://apps.apple.com/app/id6451360985">
                    <div style = "">
                        <div style="display: flex; align-items: center; margin-bottom: 10px;">
                            <img style="width: 38px; height: 38px; margin-right: 10px; background-color: red; border-radius: 8px;"
                                src="images/assets/pdf_scan_logo.png"><b style="color: #0171ec;"> PDF Lens: PDF Scanner</b>
                        </div>
                        <div style="color: darkgray;"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>