<div style="display: flex;">
    <div style="width: 10%; text-align: left;">
        <a href="#!list-topic">
            <span style="color:#0171ec" class="fa fa-chevron-left"></span>
        </a>
    </div>
    <div style="width: 80%; text-align: center;"><strong>{{topic.display}}</strong></div>
    <div style="width: 10%; text-align: right;">
    </div>
</div>
<p class="ng-scope"></p>

<div id="details-page">
    <div id="q-details"  ng-swipe-left="nextQuestion()" ng-swipe-right="prevQuestion()" style="min-height: 77vh;">
        <div>
            <b style="color: #0171ec;">Câu {{ question.no }}: {{ question.text }}</b>
        </div>
        <div id="q-image" style="margin-top: 10px; text-align: center; display: {{ question.image ? 'block' : 'none' }}">
            <img src="images/questions/{{ question.image }}" />
        </div>
        <div id="answers" style="margin-top: 10px;">
            <div class="answer {{ getAnswerClass($index) }}" ng-repeat="answer in question.answers">
                <div style="width: 20px;">
                    <input type="radio" name = "ansRadio" disabled  ng-checked = "answer.correct"/> 
                </div>
                <div class="a-text">{{$index + 1}}. {{ answer.text }}</div>
            </div>
        </div>
        <div id="q-tip" style="margin-top: 10px; display: {{ question.tip && show_result ? 'block' : 'none' }};">
            <b>Hướng dẫn: </b>{{ question.tip }}
        </div>
    </div>
    <div class="menu">
        <div class="item" ng-click="prevQuestion()">
            <i class="fa fa-chevron-left"></i>
        </div>
        <a class="item" href="#!list">
            <i class="fa fa-th"></i>
        </a>
        <div class="item" ng-click="nextQuestion()">
            <i class="fa fa-chevron-right"></i>
        </div>
    </div>
</div>