<div class="head-navigation">
    <a class="left" href="#!setting">
        <span style="color:#0171ec" class="fa fa-chevron-left"></span>
    </a>
    <div class="center">
        <strong>Cài đặt lại</strong></div>
    <div class="right">
    </div>
</div>
<p></p>

<div class="page has-menu">
    <div>
        Thao tác này sẽ khôi phục dữ liệu của phần mềm trở về thời điểm ban đầu, mọi câu trả lời mà bạn đã làm sẽ bị xóa.
        Bạn có chắc chắn muốn tiếp tục?
    </div>
    <p style="text-align: center;">
        <a ng-click="reset()" class="btn btn-danger" href="javascript:void(0)">Có</a>
        <a class="btn" style="margin-left: 5px;" href="#!index">Không</a>
    </p>
</div>