<div class="head-navigation">
    <a class="left" href="#!index">
        <span style="color:#0171ec" class="fa fa-chevron-left"></span>
    </a>
    <div class="center">
        <strong>Cài đặt</strong></div>
    <div class="right">
    </div>
</div>
<p></p>

<div style="display: flex;text-align: center;align-items: center;justify-content: center;padding: 12px;">
    <strong>Chọn bộ đề</strong>
</div>
<div style="display: flex;text-align: center;align-items: center;justify-content: center;padding: 12px;font-size:13px ">
    Bạn nên xác nhận với lại trung tâm hoặc giáo viên của bạn để biết chính xác bộ đề sẽ áp dụng cho kỳ thi của bạn
</div>
<div style="display: flex;text-align: center;align-items: center;justify-content: center;">
    <div style="display: flex; flex-direction: row; align-items: center;" ng-click="chooseDataSet(0)">
        <input type="radio" style="width: 32px; height: 32px;" name="dataSetRadio" ng-checked="isChooseDataSet(0)" checked="checked">
        <div style="padding-left: 10px; padding-right: 20px;">2025</div>
    </div>
    
    <div style="display: flex; flex-direction: row; align-items: center;" ng-click="chooseDataSet(1)">
        <input type="radio" style="width: 32px; height: 32px;" name = "dataSetRadio"  ng-checked = "isChooseDataSet(1)"/>
        <div style="padding-left: 10px;">2024</div>
    </div>
</div>
<div ng-if = "isChoose2025()" style="display: flex;text-align: center;align-items: center;justify-content: center;padding: 12px;font-size:13px;color: orange ">
    Gồm 94 câu hỏi mới theo luật mới 2025
</div>

<div id="list-danger-page" class="page has-menu">
    <div id="list">
        <div class="item" ng-repeat="lic in list" ng-click="chooseLicense(lic.code)">
            <a href="#!">
                <div style="display: flex;align-items: center;">
                    <div style="padding-right: 10px;">
                        <input type="radio" style="width: 25px; height: 25px;" name = "licRadio"  ng-checked = "isChoose(lic.code)"/>
                    </div>
                    <div>
                        <b style="color: #0171ec;">Hạng {{ lic.code.replace("_2025", "") }}</b>
                        <div style="color: darkgray;">{{ lic.display }}</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="item">
            <h3 style="color:red;"><span style=" width: 25px; height: 25px; margin-right: 10px;" class="fa fa-trash"></span><a href="#!reset">Xoá lịch sử ôn tập và thi</a></h3>
        </div>
    </div>
</div>
